/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .single-product{
        padding: 20px 14px;
    }

    .single-product del{
        display: inline-block !important;
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .ecom-nav.sticky {
        position: fixed;
        top: 0;
        left: 0;
    }

    /* Nav Menu */

    .sub-menu {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        min-width: 200px;
        background-color: var(--white-color);
        box-shadow: 0 5px 5px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 10%), 0 -3px 0 0 #ef4a23;
        z-index: 1;
        transition: var(--transition);
    }

    .sub-menu li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 16px;
    }
    
    .sub-menu li a:hover {
        color: var(--white-color);
        background-color: var(--secondary-color);
    }
    
    .sub-menu a span {
        color: #ff3b29cc;
        transition: var(--transition);
    }
    
    .sub-menu li a:hover span {
        color: var(--white-color);
    }
    
    .sub-menu .sub-menu {
        left: 100%;
        top: 0;
    }
    
    .sub-menu li a {
        font-weight: var(--font-weight-normal);
    }
    
    .has-children:hover>.sub-menu {
        display: block;
    }

    .filtered-products {
        grid-template-columns: repeat(4,1fr);
    }

    .feature-products{
        grid-template-columns: repeat(5,1fr);
    }

    .ecom-top-sell .sec-heading{
        display: flex;
        justify-content: space-between;
    }

    /* .single-product del{
        display: block;
    } */
}


/* Min Width 992px */

@media only screen and (min-width:992px){

    .ecom-sidebar-widget .nav-toggle{
        display: none;
    }

    /* Navbar Focus */

    body.overlay::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        z-index: 1;
    }

    body.overlay .ecom-header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    body.overlay .ecom-nav.sticky{
        position: relative;
    }

}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .ecom-main-content{
        margin-top: 100px;
    }

    .header-wpr{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .ecom-banner .single-slide{
        height: auto;
    }

    .feature-products{
        grid-template-columns: repeat(4,1fr);
    }

    .categories{
        grid-template-columns: repeat(6,1fr);
    }

    .footer-list li{
        width: 45%;
    }

    .news-letter input{
        width: 100%;
    }

    .news-sign-up{
        display: block;
        margin: 16px 0 0 0;
    }

    .single-product{
        padding: 20px 14px;
    }

    /* Mobile Menu */

    .nav-toggle{
        display: inline-block;
        width: 20px;
        height: max-content;
        cursor: pointer;
        transition: var(--transition);
    }

    .nav-toggle i{
        font-size: 1.5rem;
        color: var(--white-color);
    }

    .ecom-nav{
        position: fixed;
        width: 300px;
        height: 100vh;
        top: 100px;
        left: -300px;
        padding-bottom: 150px;
        overflow-y: auto;
        transition: var(--transition);
    }

    .ecom-nav.show{
        left: 0;
    }

    .ecom-main-nav{
        display: block;
    }

    .ecom-main-nav li a{
        position: relative;
        padding: 12px 0;
        border-bottom: 1px solid #d3d3d3;
    }

    .ecom-main-nav li.has-children > a::after{
        position: absolute;
        content: "+";
        top: 50%;
        right: 5px;
        font-size: 1.25rem;
        transition: var(--transition);
        transform: translateY(-50%);
    }

    li.has-children > a.active::after{
        content: "-";
    }

    .ecom-main-nav .sub-menu{
        display: none;
        margin-left: 16px;
    }

    .sub-menu a span{
        display: none;
    }
}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .ecom-main-content{
        margin-top: 45px;
    }

    .nav-modal{
        top: 44px;
    }

    .feature-products{
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    }

    .categori-details{
        grid-template-columns: 1fr;
    }

    .single-support{
        max-width: 300px;
    }

    .phone-brands{
        grid-gap: 16px;
        padding: 0 10px;
    }

    .news-letter input{
        width: 65%;
    }

    .news-sign-up{
        display: inline-block;
        margin: 0 0 0 16px;
    }

    .categories{
        grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    }

    .footer-services{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 24px;
    }

    .categori-details .ecom-sidebar-widget {
        position: fixed;
        top: 44px;
        right: -250px;
        width: 250px;
        height: 100vh;
        z-index: 10;
        padding: 10px 20px 50px;
        overflow-y: auto;
        transition: var(--transition);
    }

    .categori-details .ecom-sidebar-widget.show {
        right: 0;
    }

    /* Mobile Menu */

    .haeder-top{
        display: none;
    }

    .ecom-nav{
        top: 45px;
    }
}

/* Max Width 767px */
@media only screen and (max-width:767px){

    .cart .meta-data span{
        display: none;
    }

    .product-table tr td, .product-table th{
        padding: 10px 5px;
    }

    .ecom-acc-menu{
        padding: 8px 16px;
    }

    .ecom-acc-menu ul{
        display: none;
        margin: 0;
        transition: var(--transition);
    }

    .ecom-acc-menu ul.show{
        display: block;
        margin: 8px 0 8px 24px;
    }
}

/* Max Width 575px */
@media only screen and (max-width:575px){

    .form-group label{
        text-align: left;
        margin-bottom: 8px;
    }
    
}

/* Max Width 480px */
@media only screen and (max-width:480px){

    .nav-icons{
        justify-content: flex-end;
        gap: 5px;
    }

    .nav-icon i,
    .nav-toggle i{
        font-size: 1rem;
    }

    .top-selling-links{
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .top-selling-links::-webkit-scrollbar {
        width: 0;
    }

    .top-selling-links .nav-link{
        min-width: max-content;
    }

    .price .off-tag{
        position: absolute;
        top: 8px;
        font-size: .70rem;
        padding: 2px 4px;
    }

    .feature-products,
    .filtered-products{
        grid-template-columns: repeat(2,1fr);
    }

    .product-table .product-img{
        width: 70px;
    }

    .product-table .product-name{
        max-width: 150px;
    }

    .product-quantity {
        width: 90px;
        height: 35px;
        font-size: .85rem;
    }

    .product-quantity .quantity-input{
        font-size: .85rem;
    }

    .footer-services{
        grid-template-columns: 1fr;
    }

    .footer-botton{
        flex-wrap: wrap;
    }
}

/* Max Width 380px */

@media only screen and (max-width:380px){ 
    
    .nav-cart{
        min-width: 320px;
    }

    .phone-brands{
        grid-template-columns: repeat(5,1fr);
    }

    .nav-icon i, .nav-toggle i{
        font-size: 1.20rem;
    }

    .nav-icon{
        width: 30px;
    }

    .nav-icon span + p{
        display: none;
    }

}

/* Max Width 320px */

@media only screen and (max-width:320px){

    .nav-cart{
        min-width: 300px;
    }
    
    .feature-products,
    .filtered-products{
        grid-template-columns: 1fr;
    }

    .nav-icon i, .nav-toggle i{
        font-size: 1.1rem;
    }

    .cart{
        width: 30px !important;
        padding: 4px;
    }
}