/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .single-product{
        padding: 20px 14px;
    }

    .single-product del{
        display: inline-block !important;
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .filtered-products {
        grid-template-columns: repeat(4,1fr);
    }

    .feature-products{
        grid-template-columns: repeat(5,1fr);
    }

    .ecom-top-sell .sec-heading{
        display: flex;
        justify-content: space-between;
    }

    /* .single-product del{
        display: block;
    } */
}


/* Min Width 992px */

@media only screen and (min-width:992px){

    .ecom-sidebar-widget .nav-toggle{
        display: none;
    }

    /* Navbar Focus */

    body.overlay::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        z-index: 1;
    }

    body.overlay .ecom-header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    body.overlay .ecom-nav.sticky{
        position: relative;
    }

}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .ecom-banner .single-slide{
        height: auto;
    }

    .feature-products{
        grid-template-columns: repeat(4,1fr);
    }

    .categories{
        grid-template-columns: repeat(6,1fr);
    }

    .footer-list li{
        width: 45%;
    }

    .news-letter input{
        width: 100%;
    }

    .news-sign-up{
        display: block;
        margin: 16px 0 0 0;
    }

    .single-product{
        padding: 20px 14px;
    }
}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .feature-products{
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    }

    .single-support{
        max-width: 300px;
    }

    .phone-brands{
        grid-gap: 16px;
        padding: 0 10px;
    }

    .news-letter input{
        width: 65%;
    }

    .news-sign-up{
        display: inline-block;
        margin: 0 0 0 16px;
    }

    .categories{
        grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    }

    .footer-services{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 24px;
    }

    /* Mobile Menu */

    .haeder-top{
        display: none;
    }

}

/* Max Width 480px */
@media only screen and (max-width:480px){

    .top-selling-links{
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .top-selling-links::-webkit-scrollbar {
        width: 0;
    }

    .top-selling-links .nav-link{
        min-width: max-content;
    }

    .price .off-tag{
        position: absolute;
        top: 8px;
        font-size: .70rem;
        padding: 2px 4px;
    }

    .feature-products{
        grid-template-columns: repeat(2,1fr);
    }

    .footer-services{
        grid-template-columns: 1fr;
    }

    .footer-botton{
        flex-wrap: wrap;
    }
}

/* Max Width 380px */

@media only screen and (max-width:380px){    

    .phone-brands{
        grid-template-columns: repeat(5,1fr);
    }

}

/* Max Width 320px */

@media only screen and (max-width:320px){
    
}