@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
:root {
    /* Colors */
    --primary-color: #3C1874;
    --secondary-color: #FF3A27;
    --primary-gradient-color: linear-gradient(90deg, #FF3A27 0%, #FF3A27 0.01%, #FF6D27 100%);
    --text-color: #3e3e3e;
    --dark-color: #3A3A3A;
    --text-color-light: #9D9B9B;
    --body-bg-color: #F3F8FB;
    --body-bg-light: #FFFCF7;
    --white-color: #ffffff;
    --hover-color: #DC0D0D;
    --heading-color: #3e3e3e;
    --direction: ltr;
    /* Typography */
    --body-font: 'Lato', sans-serif;
    --title-font: 'Ubuntu Mono', sans-serif;
    --font-weight-small: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    /* Others */
    --transition: .3s;
}

.dark-theme {
    --body-bg-color: #000000e6;
    --body-bg-light: #000000e6;
    --text-color: #fff;
    --heading-color: #fFF;
}

.right-to-left {
    --direction: rtl;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: var(--body-font);
    background-color: var(--body-bg-color);
    overflow-x: hidden;
    direction: var(--direction);
    transition: all .3s, background-color 0s;
}

body.dark-theme {
    color: var(--white-color);
}

img {
    max-width: 100%;
    height: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: var(--font-weight-semi-bold);
    color: var(--heading-color);
    margin-bottom: 0;
    direction: var(--direction);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.80rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.15rem;
}

p,
span {
    font-size: .875rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    font-family: var(--body-font);
    margin-bottom: 0;
    direction: var(--direction);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-family: var(--body-font);
}

a {
    font-size: 0.875rem;
    font-weight: var(--font-weight-medium);
    font-family: var(--body-font);
    color: var(--text-color);
    text-decoration: none;
    transition: var(--transition);
    direction: var(--direction);
}

a:hover {
    color: var(--text-color);
}

input,
textarea,
select,
button {
    outline: none;
    border: none;
}

input::placeholder {
    font-size: 1rem;
    font-weight: var(--font-weight-small);
    color: var(--text-color-light);
}

label {
    direction: var(--direction);
}


/* General Css */

.scroll-margin {
    scroll-margin-top: 100px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.p-50 {
    padding: 50px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-200 {
    padding-top: 200px;
}

.pt-300 {
    padding-top: 300px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-200 {
    padding-bottom: 200px;
}

.px-50 {
    padding: 0 50px;
}

.px-100 {
    padding: 0 100px;
}

.py-70 {
    padding: 70px 0;
}

.py-80 {
    padding: 80px 0;
}

.mr-50 {
    margin-right: 50px;
}

.sec-spacer-100 {
    padding: 100px 0;
}

.sec-spacer-50 {
    padding: 50px 0;
}

.ecom-btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    padding: 8px 26px;
    border-radius: 5px;
    transition: var(--transition);
}

.ecom-btn-secondary {
    color: var(--white-color);
    background-color: #9D9B9B;
}

.ecom-primary-btn {
    color: var(--white-color);
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.overflow-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}


/* Header */

.header-wpr {
    padding: 5px 0;
    background: var(--primary-color);
}

.toolbar-items {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.toolbar-item {
    width: max-content;
    display: flex;
    gap: 10px;
    align-items: center;
    background: #184174;
    padding: 2px 10px;
    border-radius: 2px;
}

.toolbar-item:hover .toolbar-content h6 {
    color: rgba(33, 200, 168, 1);
}

.toolbar-item .toolbar-icon {
    font-size: 1.25rem;
    color: var(--secondary-color);
    transform: var(--transition);
    /* background-image: linear-gradient(0deg, #FF6D27 0%, #FF3A27 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.toolbar-item .toolbar-content h6 {
    font-size: .90rem;
    color: var(--white-color);
    font-weight: var(--font-weight-bold);
    transition: var(--transition);
}

.toolbar-item .toolbar-content span {
    font-size: .70rem;
    color: var(--white-color);
}

.pc-builder {
    color: var(--white-color);
    background: var(--primary-gradient-color);
}

.pc-builder:hover .toolbar-content h6{
    color: var(--white-color);
}

.nav-search {
    position: relative;
    margin: 0 16px;
}

.nav-search-btn {
    position: absolute;
    width: 45px;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 18px;
    background-color: transparent;
    color: var(--text-color);
}

.nav-search input {
    width: 100%;
    height: 40px;
    background-color: rgba(225, 238, 250, 1);
    border-radius: 4px;
    padding-left: 16px;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-icon {
    position: relative;
}

.nav-icon i {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
}

.nav-icon .count {
    display: inline-block;
    position: absolute;
    top: 6%;
    right: 0;
    width: 16px;
    height: 16px;
    font-size: .70rem;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.cart {
    background-color: rgba(225, 238, 250, 1);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart * {
    font-size: 1rem;
    color: var(--text-color) !important;
}

.nav-icon p {
    color: var(--white-color);
    line-height: .5;
}

.cart .count {
    top: 0;
    right: -10px;
    color: var(--white-color) !important;
}

.nav-cart {
    position: absolute;
    top: 45px;
    right: 0;
    min-width: 350px;
    min-height: 60px;
    background-color: var(--white-color);
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%);
    transition: var(--transition);
    z-index: 11;
}

.nav-cart::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: -10px;
    right: 15px;
    background-color: var(--white-color);
    transform: rotate(135deg);
}

.cart:hover .nav-cart {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

.nav-cart-heading{
    border-bottom: 1px solid #d3d3d3;
    padding: 5px 0;
    text-align: right;
}

.single-cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 8px;
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
}

.cart-sub-total h6 {
    font-weight: var(--font-weight-bold);
    margin-top: 16px;
}

.nav-checkout {
    display: block;
    width: 100%;
    height: 30px;
    color: var(--white-color) !important;
    background: var(--primary-gradient-color);
    border-radius: 4px;
    line-height: 30px;
    margin-top: 16px;
}


/* Main Navbar */

.ecom-nav {
    position: relative;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    z-index: 10;
    transition: var(--transition);
}

.ecom-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.ecom-main-nav {
    display: flex;
    justify-content: space-between;
}

.ecom-main-nav li {
    position: relative;
}

.ecom-main-nav li a {
    display: block;
    padding: 16px 0;
    font-weight: var(--font-weight-bold);
    color: #222;
    transition: var(--transition);
}

.ecom-main-nav li a:hover {
    color: var(--secondary-color);
}

.sub-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: var(--white-color);
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 10%), 0 -3px 0 0 #ef4a23;
    z-index: 1;
    transition: var(--transition);
}

.sub-menu li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
}

.sub-menu li a:hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

.sub-menu a span {
    color: #ff3b29cc;
    transition: var(--transition);
}

.sub-menu li a:hover span {
    color: var(--white-color);
}

.sub-menu .sub-menu {
    left: 100%;
    top: 0;
}

.sub-menu li a {
    font-weight: var(--font-weight-normal);
}

.has-children:hover>.sub-menu {
    display: block;
}


/* Banner */

.ecom-banner .single-slide {
    position: relative;
    height: calc(100vh - 140px);
}


/* .ecom-banner .single-slide::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
} */

.ecom-banner .owl-dots {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.ecom-banner .owl-dots .owl-dot {
    width: 42px;
    height: 8px;
    background-color: var(--white-color);
    border-radius: 4px;
    outline: none;
    margin: 0 5px;
}

.ecom-banner .owl-dot.active {
    background-color: var(--secondary-color);
}

.news-scroll {
    color: var(--secondary-color);
    background-color: var(--white-color);
    border-radius: 30px;
    margin: 24px 0;
    padding: 8px 10px;
}


/* Feature Category */

.categories {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
}

.single-category a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 10px 8px;
    transition: var(--transition);
}

.single-category a h6 {
    font-size: 1.05rem;
    margin-top: 10px;
    transition: var(--transition);
}

.single-category a:hover h6 {
    color: #EF4A23;
}

.single-category a:hover {
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}


/* Top Selling */

.top-selling-links li {
    position: relative;
}

.top-selling-links li:not(:last-of-type):after {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background-color: #89c545;
    right: 0;
    top: 2px;
}

.top-selling-links .nav-link {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    padding: 0;
    padding-bottom: 3px;
    margin: 0 16px;
}

.top-selling-links .nav-link.active {
    font-weight: var(--font-weight-semi-bold);
    color: var(--secondary-color)!important;
    border-bottom: 2px solid #89c545;
}

.feature-products {
    display: grid;
    grid-gap: 16px;
}

.single-product {
    position: relative;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 5%);
    padding: 16px 8px;
}

.single-product .product-content {
    margin-top: 16px;
    transition: var(--transition);
}

.single-product .product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-product .ratings {
    margin: 8px 0 10px;
}

.single-product .ratings span {
    font-size: .75rem;
    color: #f9ba48;
}

.product-content .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.price .off-tag {
    display: inline-block;
    padding: 2px 5px;
    font-size: .75rem;
    color: var(--white-color);
    background: var(--primary-gradient-color);
    border-radius: 4px;
}

.product-content b {
    font-size: .95rem;
    color: var(--secondary-color);
}

.single-product del {
    font-size: 12px;
    margin-left: 4px;
}

.product-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 16px;
}

.product-icons a {
    display: block !important;
    width: 36px;
    height: 36px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 36px;
    margin-top: 8px;
    opacity: 0;
    transform: translateX(18px);
    transition: .3s;
}

.filtered-products.list .product-icons a {
    transform: translateX(-60px);
}

.product-icons a:hover {
    color: var(--secondary-color);
}

.single-product:hover .product-icons a {
    opacity: 1;
    transform: translateX(0);
}

.ribbon-wrap {
    top: -10px;
    right: -4px;
}

.ribbon-wrap .ribbon-start {
    top: -21.1px;
    right: 23px;
}

.ribbon-wrap .ribbon-start span {
    position: relative;
    display: block;
    text-align: center;
    color: var(--white-color);
    background: var(--secondary-color);
    font-size: 10px;
    line-height: 1;
    padding: 6px;
    border-top-right-radius: 8px;
    width: 45px;
}

.ribbon-wrap .ribbon-start span:before,
.ribbon-wrap .ribbon-start span:after {
    position: absolute;
    content: "";
}

.ribbon-wrap .ribbon-start span:before {
    height: 6px;
    width: 6px;
    left: -6px;
    top: 0;
    background: var(--secondary-color);
}

.ribbon-wrap .ribbon-start span:after {
    height: 6px;
    width: 8px;
    left: -8px;
    top: 0;
    border-radius: 8px 8px 0 0;
    background: vr(--secondary-color);
}

.ribbon-wrap .ribbon-start:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 20px solid transparent;
    border-top: 6px solid var(--secondary-color);
}

.ribbon-wrap .slider-ribbon:after {
    left: 6px;
}


/* New Arrivals */

.products-slider .owl-stage-outer {
    padding-top: 10px;
}

.new-products .owl-carousel .owl-nav .owl-prev,
.new-products .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    background-color: var(--white-color);
    border: 1px solid var(--secondary-color);
    border-radius: 50% !important;
    outline: none;
    transition: 0.3s;
    z-index: 1;
}

.new-products .owl-nav .owl-prev.disabled,
.new-products .owl-nav .owl-next.disabled {
    opacity: 0;
    visibility: hidden;
}

.new-products-slider .owl-nav span {
    font-size: 1.25rem;
    color: var(--dark-color);
}

.new-products-slider .owl-nav .owl-next:hover,
.new-products-slider .owl-nav .owl-prev:hover {
    color: var(--text-color);
}

.owl-nav .owl-next {
    right: -1.5%;
}

.owl-nav .owl-prev {
    left: -1.5%;
}

.ad-image img {
    width: 100%;
    height: 100%;
}


/* Brands */

.phone-brands {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 24px;
    padding: 0 50px;
}

.brands-slider {
    padding: 24px 16px 0;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    margin: 0 40px;
}

.brands-slider .owl-nav .owl-prev,
.brands-slider .owl-nav .owl-next {
    position: absolute;
    top: 5%;
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    outline: none;
    transition: 0.3s;
    z-index: 1;
}

.brands-slider .owl-nav span {
    font-size: 3.5rem;
    color: var(--text-color-light);
}

.owl-nav .owl-next {
    right: -1.5%;
}

.owl-nav .owl-prev {
    left: -1.5%;
}


/* Single Product */

.ecom-breadcrumb .breadcrumb-link {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.ecom-breadcrumb .breadcrumb-link:not(:last-of-type)::after {
    position: absolute;
    content: "/";
    top: 1px;
    right: -4px;
    font-size: .875rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.breadcrumb-link.active {
    color: var(--secondary-color);
}

.product-info h3 {
    font-family: var(--body-font);
}

.product-info .rating-box-wrap {
    display: flex;
    align-items: center;
}

.rating-box-wrap .rating-box {
    display: flex;
}

.rating-box i {
    color: #f9ba48;
    font-size: 1rem;
    letter-spacing: 2px;
}

.rating-box-wrap .review-status {
    position: relative;
    top: 1px;
}

.review-status a {
    color: #999;
    display: inline-block;
    line-height: 1;
    margin-left: 8px;
}

.review-status a:hover {
    color: var(--secondary-color);
}

.product-info .prices {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 32px 0;
    padding-top: 17px;
}

.prices .price {
    font-size: 1.20rem;
    font-weight: var(--font-weight-semi-bold);
}

.product-info .desc {
    color: #999;
    line-height: 1.8;
    margin-bottom: 36px;
}

.product-info .color-form-select-wrap .form-label {
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin: 0 0 8px;
    text-transform: capitalize;
}

.product-info .color-form-select-wrap .color-form-select {
    border: 1px solid var(--secondary-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 41px;
    padding: 0 5px 0 15px;
    min-width: 285px;
    width: 285px;
}

.product-info .qty-add-to-cart-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
}

.product-info .qty-wrap {
    margin-right: 10px;
}

.product-info .qty-wrap .pro-qty {
    display: inline-block;
    position: relative;
}

.product-info .qty-wrap .pro-qty input {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    width: 105px;
    height: 42px;
    font-size: 16px;
    padding: 5px 26px 5px 5px;
    text-align: center;
}

.product-info .qty-wrap .pro-qty .qty-btn {
    background-color: transparent;
    position: absolute;
    width: 25px;
    height: 21px;
    font-weight: 600;
    top: 0;
    right: 0;
    border-left: 1px solid var(--secondary-color);
    line-height: 21px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-out;
}

.product-info .qty-wrap .pro-qty .dec {
    border-top: 1px solid var(--secondary-color);
    top: auto;
    bottom: 0;
}

.btn-theme {
    background: var(--primary-gradient-color);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    padding: 14px 81px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}

.product-info .btn-theme:hover {
    color: var(--white-color);
}

.product-info .wishlist-compare-wrap {
    margin-top: 16px;
}

.product-info .wishlist-compare-wrap a:hover {
    color: var(--secondary-color);
}

.product-info .wishlist-compare-wrap a+a {
    margin-left: 36px;
}

.product-info .product-single-meta {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 22px 0;
    padding-top: 22px;
    width: 100%;
}

.product-info .product-single-meta ul {
    margin-bottom: 0;
}

.product-info .product-single-meta ul li {
    color: #242424;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.71428;
    margin: 0 0 5px 0;
}

.product-info .product-single-meta ul li span {
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    text-transform: capitalize;
}

.product-info .social-icons {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-top: 20px;
}

.product-info .social-icons span {
    display: inline-block;
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 8px;
    margin-right: 15px;
    text-transform: capitalize;
}

.product-info .social-icons a {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

.product-slider .product-thumb .owl-item {
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: .1s;
}

.product-thumb .owl-item.current,
.product-thumb .owl-item:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.product-thumb .owl-nav .owl-prev,
.product-thumb .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* Prodcut Review */

.product-review-tabs-content {
    margin-top: 50px;
}

.product-review-tabs-content .nav {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 35px 0;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-review-tabs-content .nav li {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

.product-review-tabs-content .nav li+li {
    margin-left: 8px;
}

.product-review-tabs-content .nav li a {
    border: 2px solid #e5e5e5;
    color: #242424;
    line-height: 30px;
    padding: 13px 50px;
    display: block;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 500;
    border-radius: 4px;
}

.product-review-tabs-content .nav li a.active {
    color: #fff;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.product-review-tabs-content .nav li a.active:before {
    left: -2px;
    right: -2px;
    width: auto;
}

.product-review-tabs-content .nav li a:before {
    background: var(--secondary-color);
    bottom: -33px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    right: 50%;
    width: 0;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.product-review-tabs-content .nav li a.active:before {
    left: -2px;
    right: -2px;
    width: auto;
}

.product-review-content .comment-author .comment-content .title {
    margin-bottom: 18px;
}

.product-review-content .comment-author .comment-content .rating-box i {
    color: #f9ba48;
    font-size: .80rem;
    letter-spacing: 2px;
    margin-bottom: 4px;
}

.product-review-tabs-content .product-description p {
    color: #999;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}

.product-review-tabs-content .product-information table {
    border: 1px solid #e5e5e5;
    width: 100%;
}

.product-information table tbody tr th {
    border: none;
    border-right: 1px solid #e5e5e5;
    font-size: .90rem;
    font-weight: var(--font-weight-semi-bold);
    text-transform: uppercase;
    padding: 16px;
    width: 150px;
    line-height: 1.5;
}

.product-information table tbody tr td {
    padding: 16px;
    font-style: italic;
    color: #999;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e5e5e5;
    margin: 0;
    line-height: 1.5;
}

.product-review-content {
    margin-top: 48px;
}

.product-review-content .comment-author {
    position: relative;
}

.product-review-content .comment-author .comment-thumb {
    position: absolute;
    top: 0;
    left: 0;
}

.product-review-content .comment-author .comment-content {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-left: 80px;
    position: relative;
    padding: 24px 24px 20px;
    margin: 0 0 0 80px;
}

.product-review-content .comment-form-content {
    margin-top: 40px;
}

.product-review-content .comment-form-content .title {
    color: #999;
    display: block;
    font-size: 1.154em;
    font-weight: 500;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.product-review-content .comment-form-content .desc {
    color: #999;
    margin-bottom: 11px;
}

.product-review-tabs-content .review-comment-form {
    margin-top: 18px;
}

.review-comment-form .form-group {
    margin-bottom: 18px;
}

.comment-form-content .form-label {
    cursor: pointer;
    color: #999;
    font-size: 14px;
    margin: 0 0 5px;
}

.review-comment-form .form-label {
    font-weight: 400;
    margin: 0 0 5px;
}

.review-comment-form .form-control {
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 48px;
    max-width: 100%;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

.review-comment-form textarea.form-control {
    padding-top: 10px;
    height: 125px;
    line-height: 1.8;
}

.ecom-related-products .single-product {
    box-shadow: none;
}


/* Product Category */

.categori-details {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-column-gap: 24px;
}


/* Categori sidebar widget */

.ecom-sidebar-widget {
    height: max-content;
    background-color: var(--white-color);
    padding: 0 10px 100px 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.ecom-sidebar-widget .nav-toggle {
    display: block;
    font-size: 1.55rem;
    margin-right: 16px;
    cursor: pointer;
}

.single-widget {
    padding: 16px 0;
    border-bottom: 1px solid var(--text-color-light);
}

.categori-menu .sub-menu {
    display: block;
    margin-left: 10px;
}

.single-widget .chk-input {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--text-color);
    margin: 10px 0;
    cursor: pointer;
}

.single-widget .chk-input:last-of-type {
    margin-bottom: 0;
}

.load-more__btn {
    font-size: 15px;
    color: #2B87FF;
    margin-left: -5px;
}


/* .categori-widget .categori-menu li a{
    display: inline-block;
    font-size: 14px;
    padding: 4px 0;
    transition: var(--transition);
}

.categori-menu li a:hover,
.categori-menu li a.active{
    font-weight: var(--font-weight-medium);
}

.categori-menu .sub-menu{
    margin-left: 10px;
} */

.filter-label {
    position: relative;
    /* padding: 1rem 0.5rem; */
    width: 100%;
    cursor: pointer;
    /* box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
      0px 2px 4px rgba(90, 91, 106, 0.24); */
    border-radius: 4px;
}

.filter-label::before {
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    position: absolute;
    top: 5%;
    right: 5px;
    font-size: 1rem;
    color: var(--secondary-color);
}

.filter-label.active::before {
    content: "\f106";
}

.infinite-container {
    height: 0;
    overflow-y: auto;
    transition: height .2s;
}

.filter-label.active~.infinite-container {
    height: auto;
    padding-top: .5rem;
}

.ecom-sec-wpr {
    padding: 24px 24px 0;
    background-color: var(--white-color);
    border-radius: 5px;
}

.price-tools {
    flex-wrap: wrap;
    gap: 10px;
}

.price-filter-widget input {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    text-align: center;
    outline: none;
}

.checkbox-widget {
    display: flex;
    gap: 24px;
}

/* .checkbox-widget fieldset {
    display: flex;
    align-items: center;
    gap: 10px;
} */

input[type="checkbox"] {
    position: relative;
    appearance: none;
    --webkit-appearance: none;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px solid var(--text-color-light);
    border-radius: 4px;
    cursor: pointer;
    vertical-align: text-bottom;
    margin: 0 4px;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "\f00c";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    font-size: 12px;
    color: var(--white-color);
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    text-align: center;
}

input[type="checkbox"]:checked {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

input[type="checkbox"]:checked::after {
    display: block;
}

.product-ratings .fa-star {
    font-size: .8rem;
    color: #FEBD3F;
}

.sorting-menu {
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 1px solid var(--text-color-light);
    padding: 8px 0;
}

.product-toolbar .sorting-item {
    display: inline-block;
    font-size: .88rem;
    padding: 0 14px;
    border-right: 1px solid var(--text-color-light);
}

.sorting-widget,
.view-widget{
    display: flex;
    align-items: center;
    gap: 10px;
}

.view-widget .layout-icon {
    font-size: 28px;
    cursor: pointer;
}

.view-widget .layout-icon.active {
    color: var(--secondary-color);
}

.filtered-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 16px;
    transition: grid-template-column var(--transition);
    margin-bottom: 24px;
}

.filtered-products.list {
    grid-template-columns: 1fr !important;
}

.filtered-products.list .single-product a {
    display: flex;
    align-items: center;
}

.ecom-pagination-wpr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    background-color: var(--white-color);
    padding: 22px 32px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
}

.pagination-item {
    display: inline-block;
    padding: 5px 16px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    margin-right: 10px;
    transition: var(--transition);
}

.page-input input {
    width: 70px;
    height: 36px;
    line-height: 36px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    outline: none;
}

.keywords {
    font-size: 14px;
    color: var(--secondary-color);
}


/* Compare Product */

.cmpr-table tbody{
    display: block;
    transition: display var(--transition);
}

.cmpr-table tr {
    display: flex;
}

.cmpr-table tr td {
    flex: 0 0 20%;
    border-right: 1px solid #ECEDEF;
    border-bottom: 1px solid #ECEDEF !important;
    padding: 12px 15px;
    line-height: 20px;
}

.search-field {
    position: relative;
}

.search-field .fa-magnifying-glass {
    position: absolute;
    right: 10px;
    top: 12px;
}

.cmpr-field select,
.search-field input {
    width: 100%;
    border: none;
    padding: 8px 20px 8px 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 0 rgb(0 0 0 / 5%);
    text-overflow: ellipsis;
}

.search-field input::placeholder{
    font-size: .90rem;
}

.search-field input {
    box-shadow: none;
    border: 1px solid #ddd;
}

.compare-item .single-product {
    border-radius: 0;
    box-shadow: none;
}

.compare-item .single-product .product-content,
.compare-item .price{
    justify-content: center;
    text-align: center;
}

.compare-item .remove-item{
    display: inline-block;
    text-decoration: underline;
    margin-top: 16px;
}

.cmpr-table thead tr td:first-child {
    flex: 0 0 100%;
    background: rgba(55, 73, 187, .05);
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 1px;
    padding-left: 0px;
    display: flex;
}

.table-label i {
    font-size: .80rem;
    margin: 0 8px;
}

.cmpr-table tr td:first-child strong {
    color: var(--secondary-color);
    line-height: 16px;
    font-weight: var(--font-weight-semi-bold);
}

.cmpr-table .btn {
    background: var(--secondary-color);
    display: inline-block;
    border: 2px solid var(--secondary-color);
    padding: 0 20px;
    margin: 0;
    height: 42px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.cmpr-table .btn:hover{
    background-color: var(--secondary-color);
}

.cmpr-table .btn {
    width: 100%;
}

.hide{
    display: none !important;
}

/* Wish List */

.ecom-wishlist{
    padding:10px 0 40px;
}

.product-table tr td,
.product-table th{
    vertical-align: middle;
    padding: 12px 0;
}

.product-table tr:last-child td{
    border-bottom-width: 0;
}

.product-table th{
    font-weight: var(--font-weight-medium);
}

.wishlist-table td.wish-product{
    display: flex;
    align-items: center;
    gap: 24px;
}

.producr-del{
    margin-right: 60px;
}

.producr-del a:hover{
    color: var(--secondary-color);
}

.product-img img{
    width: 90px;
}

.stock-status{
    width: max-content;
    padding: 3px 16px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 24px;
    text-align: center;
}

.wishlist-table .add-cart{
    display: block;
    width: 100%;
    height: 40px;
    color: var(--white-color);
    background-color: var(--text-color);
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
}

.product-quantity button{
    width: 30%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
}

.product-quantity{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 55px;
    border: 1px solid #ddd;
}

.product-quantity .quantity-input{
    width: 40%;
    height: 100%;
    font-size: 1.25rem;
    text-align: center;
    line-height: 100%;
}

.aar-faq{
    border-bottom: 1px solid #d3d3d3;
}

.cart-filter-label{
    margin-bottom: 16px;
    cursor: pointer;
}

.aar-faq ul li{
    display: flex !important;
    gap: 5px;
    margin-bottom: 8px;
    padding-left: 16px;
}

.filter-content {
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s ease;
    transition: var(--transition) ease;
    padding: 0;
}

.cart-filter-label.active ~ .filter-content {
    height: auto;
    padding-bottom: 24px;
}

.filter-content input{
    border: 1px solid var(--secondary-color);
    padding: 4px 8px;
}

.filter-content button{
    width: max-content;
    padding: 5px 20px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.filter-content fieldset label{
    display: block;
    font-size: .90rem;
    margin-bottom: 4px;
}

.single-calc{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding: 6px 10px;
    box-shadow: 1px 1px  3px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
}

.single-calc p{
    font-size: .95rem;
    font-weight: var(--font-weight-medium);
}

.total-btn{
    display: inline-block;
    width: 45%;
    height: 40px;
    color: var(--white-color);
    background-color: var(--primary-color);
    margin-top: 16px;
}

/* Sign In & Sign Up */

fieldset legend{
    font-size: 1.15rem;
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 0;
    margin-bottom: 24px;
}

.form-group .row{
    align-items: center;
    margin-bottom: 24px;
}

.form-group label{
    font-size: .80rem;
    text-align: right;
}

.form-group.required label::before{
    content: "*";
    font-weight: var(--font-weight-bold);
    color: var(--secondary-color);
    margin-right: 4px;
}

.form-group input.form-control::placeholder{
    font-size: .90rem;
    color: var(--secondary-color);
}

.sign-btn button{
    width: max-content;
    height: 40px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 0 20px;
    border-radius: 3px;
}

.ecom-signin{
    min-height: 500px;
}

.signin-step{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 16px;
}

.signin-step h5{
    padding-bottom: 8px;
    border-bottom: 1px solid #d3d3d3 ;
}

.signin-step input{
    margin: 4px 0 8px;
}

.signin-step .sign-btn{
    margin-top: 16px;
}

/* Account */

.ecom-acc-menu{
    border: 1px solid #d3d3d3;
    padding: 16px;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
    border-radius: 4px;
}

.ecom-acc-menu ul{
    margin:8px 0 8px 24px;
}

.ecom-acc-menu li a{
    display: inline-block;
    margin: 2px 0;
}

.ecom-acc-menu li a.active{
    font-weight: var(--font-weight-bold);
    color: var(--secondary-color);
}

.info-box{
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    margin-top: 16px;
}

.box-title,
.box-content,
.box-action{
    padding: 8px 16px;
    background-color: #f5f5f5;
    
}

.box-title{
    border-bottom: 1px solid #d3d3d3;
    border-radius: 4px 4px 0 0;
}

.box-action{
    border-top: 1px solid #d3d3d3;
    border-radius: 0 0 4px 4px;
}

.box-content{
    background-color: var(--white-color);
    min-height: 150px;
}

.box-action span{
    color: var(--secondary-color);
}

.address-form input,
.account-edit-form input:not([type="checkbox"]){
    margin: 8px 0 16px;
}

.address-form legend,
.account-edit-form legend{
    font-size: 1.25rem;
    border-bottom: none;
    margin-bottom: 16px;
}

.account-edit-form .changing-field{
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: var(--transition) ease;
}

.account-edit-form input[type="checkbox"]:checked ~ .changing-field{
    height: auto;
    padding: 8px 0;
}

/* Pc Building */

.ecom-pc-building{
    width: 90%;
    background-color: var(--body-bg-color);
    padding: 16px;
    border: 1px solid #d3d3d3;
    margin: 0 auto;
}

.ecom-pc-building .build-btn{
    display: inline-block;
    width: max-content;
    height: 30px;
    font-size: .75rem;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    padding: 0 8px;
    background-color: var(--primary-color);
    border-radius: 2px;
    line-height: 30px;
    text-transform: uppercase;
    transition: var(--transition);
}

.build-btn:hover{
    background-color: var(--secondary-color);
}

.build-total{
    display: inline-block;
    width: max-content;
    height: 35px;
    font-size: 1.15rem;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    padding: 0 14px;
    background-color: var(--primary-color);
    border-radius: 5px;
    line-height: 35px;
}

.build-heading{
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 3px 8px;
    margin: 8px 0;
}

.single-component,
.component-name,
.comp-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 8px 16px;
    border: 1px solid #d3d3d3;
    margin-bottom: 10px;
}

.component-name{
    padding: 0;
    border: none;
    gap: 12px;
    margin-bottom: 0;
}

.component-name p{
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
}

.comp-img{
    width: 50px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    padding: 6px;
}

.comp-details{
    width: 70%;
    justify-content: space-between;
    border: none;
    margin-bottom: 0;
}

.comp-price{
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
}

.comp-details .comp-del{
    width: 30px;
    height: 30px;
    font-size: .90rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    line-height: 30px;
}

.build-products .single-product{
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    justify-items: space-between;
    box-shadow: none;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 0 16px;
    margin-bottom: 16px;
}

.single-product .product-des{
    margin-top: 16px;
}

.product-add .add-btn{
    width: max-content;
    height: 40px;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0 32px;
    border-radius: 4px;
    margin-top: 8px;
    line-height: 40px;
}

.product-des .product-features li{
    font-size: .85rem;
    list-style: disc;
    margin-left: 24px;
}


/* Footer */


/* .ecom-footer{
    background-color: var(--primary-color);
}

.ecom-footer p,
.ecom-footer span,
.ecom-footer a{
    color: #b3a9a9;
}

.footer-top{
    padding: 50px 0;
}

.footer-widget h5{
    color: var(--white-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.single-support{
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
    border-radius: 30px;
    border:1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 24px;
    padding: 8px 10px;
}

.support-icon{
    display: inline-block;
    font-size: 1.25rem;
    color: var(--white-color) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 14px;
}

.support-details h4{
    color: var(--secondary-color);
}

.footer-list li{
    display: inline-block;
    width: 32%;
}

.footer-list li a{
    display: block;
    margin-bottom: 16px;
    transition: var(--transition);
}

.footer-list li a:hover,
.color-text:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}

.footer-social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    line-height: 40px;
    margin-left: 8px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem !important;
    padding: 16px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
} */

.color-text {
    color: var(--secondary-color) !important;
}


/* Woo Footer */

.ecom-footer {
    background-color: var(--primary-color);
}

.ecom-footer-2 {
    background-color: var(--primary-color);
    padding: 100px 0;
    text-align: center;
}

.ecom-footer-2 .footer-menu a {
    position: relative;
    display: inline-block;
    color: var(--white-color);
    padding: 0 20px;
    margin-bottom: 10px;
}

.footer-menu a:not(:last-of-type)::before {
    position: absolute;
    content: "";
    right: 0;
    height: 90%;
    border: .5px solid rgba(128, 128, 128, .5);
}

.footer-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0;
}

.footer-services .single-service {
    display: flex;
    gap: 16px;
}

.service-content .service-name {
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    margin-bottom: 12px;
}

.service-content .service-des {
    font-size: 14px;
    color: var(--white-color);
}

.ecom-footer-widget h6 {
    color: var(--white-color);
    margin-bottom: 16px;
}

.main-footer {
    padding: 80px 0;
    border-top: 1px solid var(--text-color-light);
    border-bottom: 1px solid var(--text-color-light);
}

.main-footer p,
.main-footer span {
    font-size: .88rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-color-light);
}

.footer-list li a {
    display: block;
    font-size: .88rem;
    font-weight: var(--font-weight-medium);
    color: var(--text-color-light);
    margin-top: 16px;
    transition: var(--transition);
}

.footer-list li a:hover {
    color: var(--white-color);
}

.app-stores {
    display: flex;
    gap: 16px;
}

.news-letter {
    position: relative;
    margin: 24px 0;
}

.news-letter input {
    width: 65%;
    height: 40px;
    font-size: .81rem;
    color: var(--text-color-light);
    background-color: transparent;
    border-radius: 20px;
    border: 0.5px solid #808080;
    padding-left: 16px;
}

.news-letter input::placeholder {
    font-size: .81rem;
}

.news-sign-up {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100%;
    font-size: .81rem;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    border-radius: 20px;
    background: var(--primary-gradient-color);
    margin-left: 16px;
}

.colored-text {
    font-size: 14px;
    color: var(--primary-color);
}

.colored-text:hover {
    color: var(--primary-color);
}

.footer-bottom {
    padding: 40px 0;
    border-bottom: 1px solid var(--text-color-light);
}

.footer-social-links a {
    margin-right: 4px;
}